@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
}
body{
    /* center align */
    display:flex;
    justify-content: center;
    background-color: #f5f5f5;
    font-family: "Open Sans", serif;
}
/* for access css */
.container{
    width:500px;
    height:450px;
    background-color: #445A6F;
    color: #FFFFFF; 
    padding:30px;
    border-radius: 10px;
    margin-top: 40px;
} 
.wrapper{
    display: flex;
}
.wrapper div{ 
    background-color: #e63946;
    padding : 20px;
    margin-top: 10px;
}
input{
    width:120px;
    padding:5px;
    margin-top: 10px;
    font-size: 15px;
}

h2{
    margin-top: 40px;
}